/*
Author: Md Shaidul Islam
Date: 2025-10-07
*/
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #ede2e2;
  color: #594b4b;
}

header, .content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: darkblue;
  text-align: center;
}

p {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.box {
  border: 2px solid #544b4b;
  padding: 15px;
  margin: 15px 0;
  background-color: #d8e0bb;
  border-radius: 8px;
}

.highlight {
  background-color: #fff5cc;
  border-left: 5px solid orange;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}

#special-message {
  color: rgb(92, 54, 61);
  font-weight: bold;
  background-color: #442222;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

h1, h2, h3 {
  font-family: "Segoe UI", sans-serif;
  margin-top: 20px;
}

section ul li {
  padding-left: 20px;
  color: rgb(141, 7, 7);
  list-style-type: square;
  margin-left: 10px;
  margin-bottom: 6px;
}


a[target="_blank"] {
  color: rgb(214, 53, 25);
  text-decoration: underline;
}

img[alt] {
  border: 2px solid #956060;
  padding: 4px;
  border-radius: 3px;
  max-width: 100%;
  height: auto;
  display: block;
}
